---
import { getRandomTimestamp } from "@utils/getRandomTimestamp";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

interface InboxMessage {
  id: number;
  emoji: string;
  name: string;
  text: string;
  timestamp: string;
}

interface Message {
  id: number;
  senderId: number;
  text: string;
  timestamp: string;
}

const emojis = [
  { emoji: "ðŸŠ", name: "Crocodile" },
  { emoji: "ðŸ·", name: "Pig" },
  { emoji: "ðŸ¯", name: "Tiger" },
  { emoji: "ðŸ¦‘", name: "Squid" },
  { emoji: "ðŸŒ", name: "Snail" },
  { emoji: "ðŸ¦ˆ", name: "Shark" },
  { emoji: "ðŸ ", name: "Tropical Fish" },
  { emoji: "ðŸ¸", name: "Frog" },
  { emoji: "ðŸ¢", name: "Turtle" },
  { emoji: "ðŸ¼", name: "Panda" },
  { emoji: "ðŸ¨", name: "Koala" },
  { emoji: "ðŸ¦„", name: "Unicorn" },
  { emoji: "ðŸ³", name: "Whale" },
  { emoji: "ðŸ§", name: "Penguin" },
  { emoji: "ðŸ™", name: "Octopus" },
  { emoji: "ðŸž", name: "Ladybug" },
  { emoji: "ðŸ¦", name: "Lion" },
  { emoji: "ðŸµ", name: "Monkey" },
  { emoji: "ðŸ¦Ž", name: "Lizard" },
  { emoji: "ðŸ¬", name: "Dolphin" },
  { emoji: "ðŸ¹", name: "Hamster" },
  { emoji: "ðŸ»", name: "Bear" },
  { emoji: "ðŸ¶", name: "Dog" },
  { emoji: "ðŸ¦‹", name: "Butterfly" },
  { emoji: "ðŸ¦Š", name: "Fox" },
  { emoji: "ðŸ®", name: "Cow" },
  { emoji: "ðŸº", name: "Wolf" },
  { emoji: "ðŸ”", name: "Chicken" },
  { emoji: "ðŸ¦•", name: "Sauropod" },
  { emoji: "ðŸ", name: "Bee" },
  { emoji: "ðŸ°", name: "Rabbit" },
  { emoji: "ðŸ‹", name: "Whale" },
  { emoji: "ðŸ", name: "Snake" },
];

const messages: Message[] = [
  {
    id: 1,
    senderId: 1,
    text: "Do you have time to review my pull request?",
    timestamp: "2023-07-19T11:00:00Z",
  },
  {
    id: 2,
    senderId: 0,
    text: "Sure, I can take a look in about an hour. Is that okay?",
    timestamp: "2023-07-19T11:05:00Z",
  },
  {
    id: 3,
    senderId: 1,
    text: "Perfect, thanks!",
    timestamp: "2023-07-19T11:07:00Z",
  },
];

const inbox: InboxMessage[] = emojis
  .map((emoji, index) => ({
    id: index + 1,
    emoji: emoji.emoji,
    name: emoji.name,
    text: Array(10).fill(emoji.name).join(" "),
    timestamp: getRandomTimestamp().toISOString(),
  }))
  .sort((a, b) => (a.timestamp > b.timestamp ? 1 : (1 ?? 0)));
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>ðŸ’¬ Chat App</h1>
      <section class="chat__wrapper">
        <header class="chat__header"></header>
        <aside class="chat__sidebar">
          {
            inbox.map((message) => (
              <div class="chat__inbox-message">
                <div class="img" />
                <div class="chat__inbox-message-data">
                  <p>{message.name}</p>
                  <p>{message.text}</p>
                </div>
              </div>
            ))
          }
        </aside>
        <section class="chat__message-detail">
          {
            messages.map((message) => (
              <div class="chat__message">
                <p class="chat__message-text">{message.text}</p>
                <span class="chat__message-timestamp">{message.timestamp}</span>
              </div>
            ))
          }
        </section>
      </section>
    </main>
    <Footer />
  </body><style>
    :root {
      --desktop: 768px;
    }
    html,
    body {
      height: 100dvh;
    }
    body {
      display: grid;
      grid-template-rows: auto 1fr auto;
    }
    main {
      height: 100%;
      container: app / ininline-size;
    }

    .chat__wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-areas:
        "header"
        "sidebar message-detail";

      @container app (min-width: calc(var(---desktop) - 1px)) {
        grid-template-areas:
          "header header"
          "sidebar message-detail";
      }
    }

    .chat__inbox-message {
      display: flex;
    }
  </style>
</html>
